.filter {
  color: aliceblue;
}

.filter-store select {
  padding: 0.5rem;
  border-radius: 5px;
  border: none;
  outline: none;
}

.filter input,
select {
  cursor: pointer;
}

.filter-AAA {
  display: block;
}
.filter-AAA input {
  margin-left: 0.5rem;
}

.filter .submit-btn {
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: none;
  outline: none;
  width: 100%;
  font-size: 1rem;
  font-weight: bold;
  background-color: #8ea8c3;
  transition: all 0.4s ease;
  color: #23395b;
}

.filter .submit-btn:hover {
  background-color: #476789;
  color: #fff;
}
