.nav-links {
  display: flex;
  align-items: center;
}

.nav-links a {
  color: #406fb6;
  margin-left: 1rem;
  transition: color 0.4s ease;
  font-size: 1.2rem;
}

.nav-links a:hover {
  color: aliceblue;
}
