.sales {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
  width: fit-content;
  width: 100%;
}

.loader {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
}

.container {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
}

.savings,
.regular-price,
.sale-price {
  color: rgb(93, 127, 190);
  padding: 0.3rem;
}

.regular-price {
  text-decoration: line-through;
  color: rgba(93, 127, 190, 0.5);
}

.savings {
  color: white;
  background: rgb(1, 119, 70);
}

@media (max-width: 768px) {
  .container {
    flex-wrap: wrap;
  }
}
